<section id="important-websites" class="flat-section gray-section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-title text-center">
            <h2 style="font-weight:600;letter-spacing:.02em;">{{ site.data.links.title }}</h2>
            <p class="section-description" style="font-weight:400;line-height:1.6;">
              {{ site.data.links.subtitle }}
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="square-link-grid">
            <div class="row">
              {% for l in site.data.links.items %}
              <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="{{ l.href }}" class="square-link-button">
                  <i class="{{ l.icon }}"></i>
                  <span>{{ l.label }}</span>
                </a>
              </div>
              {% endfor %}
            </div>
          </div><!-- End Square Links Grid -->
        </div>
      </div>
    </div>
  </div>
</section>
